.DS_Store
images
original_*images/**
*~
nuclei/**
\#*
cropped_*images/**
nuclei/annots/**
mask_rcnn_coco.h5
xml_files/*
original_annotated_images/*
original_images/*
resized_images/*
output_weights/*
image_preds/*
mrcnn/*
eval_output/*
val_image_lists/*
__pycache__/*
bboxdrawing.png
cuda_10.0.130_410.48_linux